{% extends 'layouts/main.html' %}
{% block title %}Service Locations{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="page-header">
    <h1>Service Locations</h1>
  </div>

  <!-- Form for adding new location -->
  <form method="POST" action="{{ url_for('locations') }}">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="row">
      <!-- Unit Field -->
      <div class="col-md-6 mb-3">
        {{ form.unit.label(class="form-label") }}
        {{ form.unit(class="form-control") }}
      </div>

      <!-- Address Field -->
      <div class="col-md-6 mb-3">
        {{ form.address.label(class="form-label") }}
        {{ form.address(class="form-control") }}
      </div>
    </div>

    <div class="row">
      <!-- Billing Begin Date Field -->
      <div class="col-md-6 mb-3">
        {{ form.zcode.label(class="form-label") }}
        {{ form.zcode(class="form-control") }}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.sq_footage.label(class="form-label") }}
        {{ form.sq_footage(class="form-control") }}
      </div>
    </div>

    <div class="row">
      <!-- Billing Begin Date Field -->
      <div class="col-md-6 mb-3">
        {{ form.num_bedrooms.label(class="form-label") }}
        {{ form.num_bedrooms(class="form-control") }}
      </div>

      <div class="col-md-6 mb-3">
        {{ form.num_bathrooms.label(class="form-label") }}
        {{ form.num_bathrooms(class="form-control") }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Location</button>
  </form>

  <hr>

  {% if locations %}
    <div class="list-group">
      {% for location in locations %}
        <div class="list-group-item">
          <h5 class="mb-1">Location: {{ location.unit }}, {{ location.address }}</h5>
          <p class="mb-1">Billed since: {{ location.billing_begin_date }}</p>
          <a href="{{ url_for('location_consumption', lid=location.lid) }}" class="btn btn-info">View usage</a>
          <a href="{{ url_for('price_history', zcode=location.zcode) }}" class="btn btn-info">Location Price History</a>
          <a href="{{ url_for('locations', delete_lid=location.lid) }}" class="btn btn-danger">Delete</a>
          <!-- Include other location details here if needed -->
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info" role="alert">
      No service locations found.
    </div>
  {% endif %}
</div>


{% endblock %}
