{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="page-header">
    <h1>Service Locations</h1>
  </div>

  {% if locations %}
    <div class="list-group">
      {% for location in locations %}
        <div class="list-group-item">
          <h5 class="mb-1">Location: {{ location.unit }} {{ location.address }}</h5>
          <p class="mb-1">Billed since: {{ location.billing_begin_date }}</p>
          <!-- Include other location details here if needed -->
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info" role="alert">
      No service locations found.
    </div>
  {% endif %}
</div>


{% endblock %}
